<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Facturacion.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--NAVITAIRE  PRODUCCCION-->
    <add name="DBNavitaire" connectionString="iFX9FDjwEXJWNsYxKrAnuMBCpKAG3K3JjXVbsNlgNKehoRP0cXt9rBi5iVhk85BVOQrIDqawpFsrSxzZ7sLJd5rbtJLS0gCGVMNcDMwLVjX3VsnnuLrwIGv9fKhQvjSG"/>
    <!--PROD FACTURACION 172.24.20.11-->
    <add name="DBFacturacion" connectionString="It1GdjHQrwK/R6f0TsJdYEUU05LfhL5dgGI4zgBpAvQqJnDZAQPMcE9Wl7VogcxvGVaeKwGbmtKp95fNYP5sSNaqDvXJx0f7Kotxx/SH5j9+E/su3IJFRvZ6k+x/R4UiryYanCopiONlbvqgUloRnipApxgz2blU3Yblgl7zzBA="/>
    <!--QA FACTURACION 172.24.20.11-->
    <!--<add name="DBFacturacion" connectionString="It1GdjHQrwK/R6f0TsJdYEUU05LfhL5dgGI4zgBpAvQqJnDZAQPMcE9Wl7VogcxvNtUC/ScvXoGAz2bIypYXsxy9TS9upNbZTp9MCuZxNdUWvMgbyB4PlpvDSqAbMjU35Mk69WRiUthRvTvk0zSOB4FchqOC01o49v0ktDWHEfQ="/>-->
  </connectionStrings>
  <appSettings>
    <add key="SqlCommandTimeOut" value="240" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PROD" maxBufferSize="8000000" maxReceivedMessageSize="8000000"
                 closeTimeout="00:08:00"
                 sendTimeout="00:08:00"
                 receiveTimeout="00:08:00">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://gwprod.pegasotecnologia.mx/IAMSAEmisionGatewayPROD2/ServiceGateway.svc/Soap11Text" binding="basicHttpBinding" bindingConfiguration="PROD" contract="Pegaso.IEmisionBaseExternalService" name="PROD" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <applicationSettings>
    <Facturacion.BLL.Properties.Settings>
      <setting name="Facturacion_BLL_Facturalo_FacturaloTimbradoWS"
          serializeAs="String">
        <value>http://sistema.factura-lo.com.mx/ws/viva/produccion.do</value>
        <!--<value>http://sistema.factura-lo.com.mx/ws/viva/pruebas.do</value>-->
      </setting>
    </Facturacion.BLL.Properties.Settings>
  </applicationSettings>
</configuration>