<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="urlTimbrarBoleto" value="http://172.24.20.5:8201/api/Facturacion/GenerarFacturasPorPNR/" />
    <add key="timeOutTimbrarBoleto" value="300000" />  <!-- 5 min -->
  </appSettings>
  <connectionStrings>
    <!--QA FACTURACION 172.24.20.11-->
    <add name="DBFacturacion" connectionString="It1GdjHQrwK/R6f0TsJdYEUU05LfhL5dgGI4zgBpAvQqJnDZAQPMcE9Wl7VogcxvNtUC/ScvXoGAz2bIypYXsxy9TS9upNbZTp9MCuZxNdUWvMgbyB4PlpvDSqAbMjU35Mk69WRiUthRvTvk0zSOB4FchqOC01o49v0ktDWHEfQ=" />
    <!--VBFactPaqQA 172.24.20.11-->
    <add name="DBVivaPaquetes" connectionString="It1GdjHQrwK/R6f0TsJdYEUU05LfhL5dgGI4zgBpAvQqJnDZAQPMcHPYWMlW+mSw5HK8pMahmbw0KbMaeLCZNC0OTJE5cyj/EK88SOAJklp1gcM/WE5RjoaP2vsWLzKO4jrndbHHyh5Zq79ljTAjqEoAXKLpseG/s09HGR6+AsM=" />
  </connectionStrings>
    <nlog>
    <targets>
      <target name="dbLog" type="Database" dbProvider="sqlserver" commandText="">
        <parameter name="@Nivel" layout="${level}" />
        <parameter name="@GuidLogging" layout="${event-properties:GuidLogging}" />
        <parameter name="@IdTipoPortal" layout="${event-properties:IdTipoPortal}" />
        <parameter name="@Fecha" layout="${longdate}" />
        <parameter name="@UserName" layout="${windows-identity:domain=true}" />
        <parameter name="@Thread" layout="${threadid}" />
        <parameter name="@Source" layout="${event-properties:Source}" />
        <parameter name="@Clase" layout="${event-properties:Clase}" />
        <parameter name="@Metodo" layout="${event-properties:Metodo}" />
        <parameter name="@HResult" layout="${event-properties:HResult}" />
        <parameter name="@ExceptionFullName" layout="${event-properties:ExceptionFullName}" />
        <parameter name="@Exception" layout="${event-properties:Exception}" />
        <parameter name="@StackTrace" layout="${event-properties:StackTrace}" />

        <parameter name="@IdParametro" layout="${event-properties:IdParametro}" />
        <parameter name="@TipoDato" layout="${event-properties:TipoDato}" />
        <parameter name="@ParametroNombre" layout="${event-properties:ParametroNombre}" />
        <parameter name="@ParametroValor" layout="${event-properties:ParametroValor}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" appendTo="dbLog" />
    </rules>
  </nlog>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FacturaloTimbradoWSBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sistema.factura-lo.com.mx/ws/viva/pruebas.do" binding="basicHttpBinding" bindingConfiguration="FacturaloTimbradoWSBinding" contract="ws_Timbrado.FacturaloTimbradoWSPortType" name="FacturaloTimbradoWSPort" />
    </client>
  </system.serviceModel>
</configuration>