<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterViva.master.cs" Inherits="Facturacion33.PortalAdmin.Master.MasterViva" %>

<!DOCTYPE html>

<html  lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

    <link href="<%= ResolveClientUrl("~/Content/bootstrap.css") %>" rel="stylesheet" />
    <link href="<%= ResolveClientUrl("~/Content/bootstrap-theme.min.css") %>" rel="stylesheet" />
    <link href="<%= ResolveClientUrl("~/Content/bootstrap-dialog.min.css") %>" rel="stylesheet" />
    <link href="<%= ResolveClientUrl("~/Content/VivaAerobus.css") %>" rel="stylesheet" />
    <link href="<%= ResolveClientUrl("~/Content/jquery-ui.min.css") %>" rel="stylesheet" />
    <link href="<%= ResolveClientUrl("~/Content/combined.css") %>" rel="stylesheet" />

    <script src="<%= ResolveClientUrl("~/Scripts/jquery-3.1.0.min.js") %>"></script>
    <script src="<%= ResolveClientUrl("~/Scripts/bootstrap.min.js") %>"></script>
    <script src="<%= ResolveClientUrl("~/Scripts/bootstrap-dialog.min.js") %>"></script>
    <script src="<%= ResolveClientUrl("~/Scripts/jquery-ui.min.js") %>"></script>
    <script src="<%= ResolveClientUrl("~/Scripts/Master.js") %>"></script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="formMaster" runat="server" class="form-horizontal" style="background-color: teal;">
        <div class="container principal" style="padding-left: 0px;padding-top: 0px;padding-right: 0px;">

            <div class="headWrapper">
                <h1 class="startpage-header">VivaAerobus</h1>
                <div class="row" style="margin: 0px;">
                    <div class="col-md-4 head col-xs-4 hidden-sm">
                        <a href="/mx">
                            <div class="logo" style="background: url('/Content/Images/vivaaerobus-logo-responsive.png') no-repeat">
                            </div>
                        </a>
                    </div>
                    <div class="hidden-md head hidden-xs col-sm-4">
                        <a href="/mx">
                            <div class="img-responsive branding " style="background: url('/content/images/vivaaerobus-logo-mobile.png') no-repeat">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-5 hidden-xs hidden-sm">
                        <div class="clear">
                        </div>
                    </div>
                    <div class="col-md-3 hidden-xs hidden-sm" style="margin-top: 10px;">
                        <div class="form-group">
                            <label for="lblUsuario" class="control-label col-sm-6 col-md-2">Usuario</label>
                            <div class="col-sm-6 col-md-10">
                                <asp:Label ID="lblUsuario" runat="server" CssClass="form-control"></asp:Label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ddlRol" class="control-label col-sm-6 col-md-2">Rol</label>
                            <div class="col-sm-6 col-md-10">
                                <asp:DropDownList ID="ddlRol" runat="server" DataTextField="DescripcionRol" DataValueField="IdRol" Width="100%" CssClass="form-control">
                                </asp:DropDownList>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-md-12 menu" style="padding-left: 0px; padding-right: 0px;">
                        <div style="width: 100%; margin-bottom: 5px;">
                            <div class="container" style="margin-left: 0px; padding-left: 0px; margin-right: 0px; padding-right: 0px;">
                                <div class="navbar-default side-collapse in">
                                    <nav class="navbar-collapse">
                                        <asp:PlaceHolder ID="ControlContainer"
                                            runat="server" />
                                    </nav>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container" style="background-position: 0px 0px; margin-left: 0px; margin-right: 0px; width: 100%;">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
          
        </div>
    </form>


</body>
</html>
