<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  
  <appSettings>
    <add key="PathFact" value="D:\Facturacion33\ArchivosQA\"/>
    <add key="SqlCommandTimeOut" value="240"/>
    <!--<add key="OcultarCaptcha" value="true"/>-->
  </appSettings>
  <connectionStrings>
    <!--Producción-->
    <add name="DBNavitaire" connectionString="iFX9FDjwEXJWNsYxKrAnuMBCpKAG3K3JjXVbsNlgNKehoRP0cXt9rBi5iVhk85BVOQrIDqawpFsrSxzZ7sLJd5rbtJLS0gCGVMNcDMwLVjX3VsnnuLrwIGv9fKhQvjSG" />
    <add name="DBFacturacion" connectionString="It1GdjHQrwLf4nloNkhSEf540CKNlDM11xPkc/BykC5/N31ce+otqOTJOvVkYlLY7MG7yutBwGoR7NYjilKPvs9YTRmO1a088aouikYISFGXedqrZs7zrvGsEEh6QQ9RB619barmWcQ=" />
    <!--Test 205-->
    <!--<add name="DBFacturacion" connectionString="It1GdjHQrwJf6i6XOcyt5sn/H2Ws+RV4L0jQlFPqHyMxRrvUiTtAMy+MVNF5ByFs7tllzBKpe/iJqQMXiHmu48UYJaFXZ9QUWCXMQ+xrf5zxTRyu7imURxIaonM43mfRm0S9gyIsGGv9cGS8oJfOkYQZ0veSEIJlf7AfTCn7eh4="/>-->
    <!--<add name="DBNavitaire" connectionString="It1GdjHQrwKSJKuuGt0z0gwpMUx6IEbJkf4z4lUuiYpH1LIX7ux3Og9uFcomhZ0DMUa71Ik7QDP4PbJqB3NA9Yc8h+8QY7HKNCmzGniwmTQtDkyROXMo/xCvPEjgCZJadYHDP1hOUY5V8QWFkEo8em+CkHDwmMOTAaQduVeWejwIFghrHq4Nwg=="/>-->
    <!--Local-->
    <!--<add name="DBFacturacion" connectionString="It1GdjHQrwJJ2LPXp0cGXvH2t9jXs0vJBnojJB+dHiM5DHPJjpnYui87KRCD638zoe/KakZgk63DvHl0NiLGrzJDAmmdV8dS1qoO9cnHR/sqi3HH9IfmP34T+y7cgkVG/QxuQLsEw1JZq79ljTAjqMpLc1T34SBLzlMt1laWPw4="/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
    <globalization uiCulture="es" culture="es-MX"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="QA" maxBufferSize="8000000" maxReceivedMessageSize="8000000" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Certificate" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="QAGLOBAL" maxBufferSize="8000000" maxReceivedMessageSize="8000000" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Certificate" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IEmisionBaseExternalService">
          <security mode="None"/>
        </binding>
        <binding name="WSHttpBinding_IIntegracionSAPService">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://qa.pegasotecnologia.mx/IamsaEmisionGatewayQA/ServiceGateway.svc/Soap11Text" binding="basicHttpBinding" bindingConfiguration="QA" contract="Pegaso.IEmisionBaseExternalService" name="QA"/>
      <endpoint address="https://qa.pegasotecnologia.mx/IamsaEmisionGatewayQA/ServiceGateway.svc/Soap11Text" binding="basicHttpBinding" bindingConfiguration="QAGLOBAL" contract="PegasoGlobal.IIntegracionSAPService" name="QAGLOBAL"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
